.card{
   display: flex;
   flex-direction: column;
   padding: 1rem;
   /* border-radius: 1rem;
   overflow: hidden; */
}
.card h1{
   font-weight: 400;
   font-size: .75rem;
   margin: .25rem 0;
   color: rgb(53, 53, 53);
}
.card > img{
   height: 400px;
}
.card .tags{
   margin-top: auto;
   font-size: 1.2rem;
   padding: .5rem 0;
}
.card .tag{
   background: rgb(231, 231, 231);
   padding: .25rem .5rem;
   border-radius: 900px;
   margin-right: 5px;
   font-size: .75rem;
}